@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.heading-hero{
  font-size: clamp(4.5rem, 10vw, 10rem);
}

.heading-sub {
  font-size: clamp(14px, 2vw, 30px);
}
.h-sub {
  font-size: clamp(14px, 2vw, 20px);
}