@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.heading-hero{
  font-size: clamp(4.5rem, 10vw, 10rem);
}
.hero-main{
  font-size: clamp(3.5rem, 10vw, 11rem);
}
.hero-sub{
  font-size: clamp(3rem, 7.5vw, 8rem);
}

.heading-sub {
  font-size: clamp(14px, 2vw, 30px);
}
.h-sub {
  font-size: clamp(14px, 2vw, 20px);
}

.h-team {
  font-size: clamp(14px, 2vw, 28px);
}

.gradient {
  background: linear-gradient(90deg, #1A1C1F 0%, rgba(26, 28, 31, 0.94) 30%, rgba(26, 28, 31, 0.00) 100%);
}

